body {
    background-color: #1a1d2b;
}
.heading {
    font-size: 76px;
    color: #0a0808;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 10;
}
nav li {
    list-style: none;
    background-color: #96bac7;
    color: #191e21;
    margin: 0;
    flex: 1;
    text-align: center;
    display: flex;
    position: relative;
    min-width: 200px;
    border-top: solid black 4px;
    border-bottom: solid black 4px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}
nav a, nav a:visited {
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    color: #191e21;
}
nav a:hover {
    color: #96bac7;
    background-color: #0e0e30;
}
nav a:hover, nav a.active {
    color: #96bac7;
    background-color: #0e0e30;
}
.dropdown-content {
    position: absolute;
    top: 36px;
    width: 100%;
    display: none;
    z-index: 20;
}
nav li:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    font-weight: bold;
}
.dropdown-content ul {
    flex-direction: column;
}
.title {
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.cardIMG {
    max-height: 1000px;
    max-width: 680px;
}
.card {
    display: flex;
    flex-direction: row;
    margin: 12px;
}
.box {
    max-height: 1000px;
    width: 1200px;
    background-color: #3a3939;
}
h3 {
    font-size: x-large;
}
.socials {
    max-height: 70px;
    max-width: 70px;
    margin-right: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}
.Button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #111457;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.Button:hover {
    background-color: #555;
}
.poster {
    height: 552px;
    width: 360px;
    margin: 25px;
}
.detail {
    text-align: center;
}
.home-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 12px;
}